# # # Recommondation System/book

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#v = df.decode("utf-8")
df = pd.read_csv("book.csv",encoding="ISO-8859-1")

In [3]:
df.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [4]:
df = df.drop(columns=["Unnamed: 0"])
df

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [5]:
user_item_matrix = df.pivot_table(index='User.ID', columns='Book.Title', values='Book.Rating')

In [6]:
user_item_matrix = user_item_matrix.fillna(0)  # Replace NaN with 0, assuming unrated books have a rating of 0.

In [7]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(user_item_matrix)

In [8]:
def recommend_books(book_title, n=5):
    book_idx = user_item_matrix.columns.get_loc(book_title)
    similar_scores = list(enumerate(cosine_sim[book_idx]))
    similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
    top_n_similar_books = similar_scores[1:n+1]  # Exclude the book itself
    recommended_books = [user_item_matrix.columns[i[0]] for i in top_n_similar_books]
    return recommended_books

In [9]:
# Print unique book titles in the dataset
unique_book_titles = df['Book.Title'].unique()
print(unique_book_titles)

['Classical Mythology' 'Clara Callan' 'Decision in Normandy' ...
 'How to Flirt: A Practical Guide' 'Twilight'
 'Kids Say the Darndest Things']